openai-whisper
streamlit
streamlit_player
streamlit-aggrid
ffsubsync
whisper-timestamped @ git+https://github.com/linto-ai/whisper-timestamped
pandas
pysubs2
pywhispercpp
dl_translate
faster_whisper
whisperx @ git+https://github.com/rasyiidwho/whisperx
